body {
	margin: 0;
	font-size: 14px;
	}
html,body,table,th,td {
	font-family: tahoma, arial, "Hiragino Sans GB", \5FAE\8F6F\96C5\9ED1,
		\5b8b\4f53
}

.content {
	margin: 0 auto;
	width: 100%;
	margin:0;
	min-height: 450px;
	z-index: -999;
}
.content .tab_parent{
	height:84px;
	width: 100%;
	border-bottom:1px solid #dcdcdc;
}
.content .tab_parent .tabs_optr{
	height:84px;
	width: 960px;
	margin:0 auto;
}
.content .tab_parent .tabs_optr .tab{
	height:84px;
	width: 320px;
	float:left;
	font-size: 28px;
	color:#333;
	font-weight: bold;
	text-align: center;
	line-height: 84px;
}
.content .tab_parent .tabs_optr .tab div{
	float:left;
}
.content .tab_parent .tabs_optr .tab .tab_logo{
	width:41px;
	height:37px;
	background-repeat: no-repeat;
	margin-top:27px;
	margin-left:80px;
}
.content .tab_parent .tabs_optr .tab .tab_text{
	width:145px;
}
.content .tab_parent .tabs_optr .defaultTab:HOVER{
	background: #eee;
	cursor: pointer;
}
/**
*	默认无效
*/
.content .tab_parent .tabs_optr .disableTab{
	color:#aaa;
	border-bottom:2px solid #aaa;
}
.content .tab_parent .tabs_optr .disableTab .tab_1_logo{
	background-image: url("../images/index_icon1_n.png");
}
.content .tab_parent .tabs_optr .disableTab .tab_2_logo{
	background-image: url("../images/index_icon2_n.png");
}
.content .tab_parent .tabs_optr .disableTab .tab_3_logo{
	background-image: url("../images/index_icon3_n.png");
}
.content .tab_parent .tabs_optr .disableTab .disableTab_tip{
	background-image: url("../images/T-icon9.png");
	width:58px;
	height:28px;
	float:right;
	margin-right:10px;
	margin-top:-80px;
}
/**
* 电信tab
**/
.content .tab_parent .tabs_optr .tab_1{
	border-bottom: 2px solid #0054A5;
}
.content .tab_parent .tabs_optr .defaultTab .tab_1_logo{
	background-image: url("../images/index_icon1.png");
}
/**
* 选中的
**/
.content .tab_parent .tabs_optr .tab_1_select{
	background: #0054a5;
	height: 91px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
  	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
  	behavior: url(ie-css3.htc);
  	
}
.content .tab_parent .tabs_optr .tab_1_select .tab_text{
	color: #fff;
}
.content .tab_parent .tabs_optr .tab_1_select .tab_1_logo{
	background-image: url("../images/index_icon1_h.png");
}
.tab_1_triangle{ 
	width: 0; 
	height : 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 10px solid #0054A5;
	position: absolute;
	margin-top: 91px; 
	margin-left: 145px; 
}

/**
* 联通tab
**/
.content .tab_parent .tabs_optr .tab_2{
	border-bottom: 2px solid #DE2C20;	
}
.content .tab_parent .tabs_optr .defaultTab .tab_2_logo{
	background-image: url("../images/index_icon2.png");
}

/**
* 选中的
**/
.content .tab_parent .tabs_optr .tab_2_select{
	background: #DE2C20;
	height: 91px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
  	behavior: url(ie-css3.htc);
}
.content .tab_parent .tabs_optr .tab_2_select .tab_text{
	color: #fff;
}
.content .tab_parent .tabs_optr .tab_2_select .tab_2_logo{
	background-image: url("../images/index_icon2_h.png");
}
.tab_2_triangle{ 
	width: 0; 
	height : 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 10px solid #DE2C20;
	position: absolute;
	margin-top: 91px; 
	margin-left: 465px; 
}

/**
* 移动tab
**/
.content .tab_parent .tabs_optr .tab_3{
	border-bottom: 2px solid #86c328;	
}
.content .tab_parent .tabs_optr .defaultTab .tab_3_logo{
	background-image: url("../images/index_icon3.png");
}

/**
* 选中的
**/
.content .tab_parent .tabs_optr .tab_3_select{
	background: #86c328;
	height: 91px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
  	behavior: url(ie-css3.htc);
}
.content .tab_parent .tabs_optr .tab_3_select .tab_text{
	color: #fff;
}
.content .tab_parent .tabs_optr .tab_3_select .tab_3_logo{
	background-image: url("../images/index_icon3_h.png");
}
.tab_3_triangle{ 
	width: 0; 
	height : 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 10px solid #86c328;
	position: absolute;
	margin-top: 91px; 
	margin-left: 785px; 
}

/* 选择流量包 */
.select_traffic{
	width:960px;
	height: auto;
	border:0px solid red;
	margin:0 auto;
	margin-top:40px;
	margin-bottom: 20px;
}
.select_traffic div{
	float:left;
}
.select_traffic .list_img{
	width:25px;
	height:25px;
	background-image: url("../images/index_icon4.png");
	background-repeat: no-repeat;
}
.select_traffic .ul_traffic{
	width:920px;
	border:0px solid red;
	margin-left:14px;
}
.select_traffic .ul_traffic .list_title{
	width:100%;
	font-size: 20px;
	color:#333;
}
.select_traffic .ul_traffic .list_traffic{
	width:230px;
	height: 44px;
	margin-top:20px;
	cursor: pointer;
}
.select_traffic .ul_traffic .list_traffic .lit_icon{
	width:44px;
	height:44px;
	background-image: url("../images/index_icon5.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.select_traffic .ul_traffic .list_traffic .traffic_icon{
	width:44px;
	height:44px;
	background: #e5e5e5;
}
.select_traffic .ul_traffic .list_traffic .traffic_icon_select{
	width:44px;
	height:44px;
	background: #29bd8b;
}
.select_traffic .ul_traffic .list_traffic .traffic_icon_select{
	width:44px;
	height:44px;
	background: #29bd8b;
}

.select_traffic .ul_traffic .list_traffic .traffic_info{
	height:44px;
	line-height: 44px;
	margin-left:20px;
}
.select_traffic .ul_traffic .list_traffic .traffic_info_select{
	height:44px;
	line-height: 44px;
	margin-left:20px;
	color:#29bd8b;
}
.select_traffic .ul_traffic .list_traffic .traffic_info span{
	color:#666;
}
.select_traffic .ul_traffic .list_traffic .traffic_info_select span{
	color:#29bd8b;
}
.select_traffic .ul_traffic .list_traffic:hover .traffic_info span{
	color:#29bd8b;
}
.select_traffic .ul_traffic .list_traffic .traffic_info .num{
	font-size:28px;
}
.select_traffic .ul_traffic .list_traffic .traffic_info .unit{
	font-size:16px;
}
.select_traffic .ul_traffic .list_traffic .traffic_info .price{
	font-size:14px;
}
.select_traffic .ul_traffic .ul_traffic_ipt input{
	margin-top:20px;
	width:290px;
	height:44px;
	border:1px solid #cccccc;
	padding-left:5px;
}

/**
* 购买按钮
*/
.addcarButton {
	width: 170px;
	height: 44px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
  	behavior: url(ie-css3.htc);
	line-height: 44px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	float: left;
	margin-right: 10px;
	background:#29bd8b;
}

.addcarButton:hover {
	background: #ffeee3;
	background: #2dcf98;
	color:#fff;
}

.buyButton {
	width: 170px;
	height: 44px;
	line-height: 40px;
	background-color: #ff6600;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	behavior: url(ie-css3.htc);
	font-size: 16px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	float: left;
	margin-right: 10px;
}

.buyButton:hover {
	background-color: #ff9000;
	border: 1px solid #c78200;
}

/**
* 购物车
*/
.content .right {
	width: 245px;
	background: #ddd;
	border-left:2px solid #ccc;
	position: fixed;
	right: 0px;
	top: 0px;
	height:100%;
	overflow:hidden;
	z-index: 99999;
}

.content .buyCar_tab{
	width:60px;
	height:42px;
	-webkit-border-top-left-radius:21px;
	-webkit-border-bottom-left-radius:21px;
	border-top-left-radius:21px;
	border-bottom-left-radius:21px;
	behavior: url(ie-css3.htc);
	background: #2dcf98;
	position: fixed;
	right: 0px;
	bottom: 100px;
	cursor: pointer;
}
.content .customerService{
	width:106px;
	height:119px;
	behavior: url(ie-css3.htc);
	background-image:url("../images/icon30.png");
	background-repeat:no-repeat;
	position: fixed;
	left: 30px;
	bottom: 100px;
}
.content .customerService .customerService_sub{
	width:15px;
	height:15px;
	border:1px solid #cccccc;
	background:#fcfcfc;
	background-image:url("../images/icon312.png");
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-border-radius: 2px;
	-webkit-border-radius: 2px;
  	border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
}
.content .customerService .customerService_sub:hover{
	background-image:url("../images/icon31.png");
}
.content .buyCar_tab .buyCar_tab_num{
	width:20px;
	height:20px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-radius:10px;
	behavior: url(ie-css3.htc);
	background: #fff;
	font-size:12px;
	color:#ff511c;
	line-height: 20px;
	text-align: center;
	float:left;
	margin-top:10px;
	margin-left:5px;
}
.delete_car_good {
	background-image: url("../images/icon3.png");
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	cursor: pointer;
}
.delete_car_good:hover {
	background-image: url("../images/icon3_h.png");
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	cursor: pointer;
}
.corfirmOrder_class{
	position: fixed;
	right: 0px;
	bottom: 0px;
	margin-left:20px;
	background: #ddd;
	width:245px;
	bottom:10px;
}
.numberColor {
	color: #ff6600;
	font-size: 34px;
}
.numberIcon {
	color: #ff6600;
	font-size: 22px;
}
.hideBuyCarClass{
	background-image: url("../images/index_icon9.png");
	background-repeat:no-repeat;
	width:18px;
	height:18px;
}
.hideBuyCarClass:hover{
	background-image: url("../images/index_icon9_h.png");
	background-repeat:no-repeat;
	width:18px;
	height:18px;
}











.content .left {
	width: 730px;
	margin-right: 40px;
	float: left;
}


.left .good {
	font-size: 14px;
	color: #444;
	font-size: 14px;
}

.left .button {
	
}

.buyCarDiv {
	height: 100%;
	position: absolute;
	top: 100px;
	right: 0px;
	border: 0px solid red;
	z-index: 2;
}

.buyCarButtonDiv {
	width: 35px;
	float: left;
	margin-top: 100px;
	border: 0px solid red;
	cursor: pointer;
	height: 160px;
	background-image: url("../images/icon2.png");
	background-repeat: no-repeat;
}

.buyCarGoodDiv {
	width: 220px;
	float: left;
	background: #eeeeee;
	height:100%;
	margin-top:-13px;
	display:none;
	min-height:100%; 
}

.hide {
	display: none;
}
.traffic{
}
.traffic div {
	width: 80px;
	height: 40px;
	border: 2px #d6d6d6 solid;
	color: #666;
	font-size: 14px;
	border-radius: 2px;
	behavior: url(ie-css3.htc);
	float: left;
	margin-right: 5px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.traffic .select {
	width: 80px;
	height: 40px;
	border: 2px #fe802c solid;
	color: #fe802c;
	font-size: 14px;
	border-radius: 2px;
	behavior: url(ie-css3.htc);
}

.button {
	width: 100%;
	margin: 0 auto;
}

.good_left {
	float: left;
	margin-top: 10px;
	margin-right: 20px;
	width: 10px;
}

.good_right {
	float: left;
	border-bottom: 1px dashed #d6d6d6;
	width: 700px;
}
.good_right .info-table{
	width: 700px;
}

.car_good {
	border-bottom: 0px solid #d6d6d6;
	max-height:420px;
	overflow-y:auto; overflow-x:auto
}

.car_good .dis_good {
	background: #fff;
	width: 220px;
	margin: 0 auto;
	border-bottom: 1px solid #eee;
	height:120px;
}

.car_good .dis_good table {
	width: 100%;
	color: #333;
	font-size: 12px;
	margin: 0 auto;
}

.car_good .dis_good table tr {
	height: 24px;
}

.go-button {
	width: 120px;
	height: 34px;
	line-height: 34px;
	background-color: #ff6600;
	border-radius: 2px;
	behavior: url(ie-css3.htc);
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	text-align:center;
	margin-bottom:10px;
	margin-left:25px;
}

.go-button_0{
	width: 120px;
	height: 34px;
	line-height: 34px;
	background-color: #aaaaaa;
	border-radius: 2px;
	behavior: url(ie-css3.htc);
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	text-align:center;
	margin-bottom:10px;
	margin-left:25px;
}

/**三角提示**/
.container_tip {
	height: 100px;
	width: 100px;
	background-color: transparent;
	*border: 1px solid #666;
	float: left;
	position: absolute;
	z-index:99999;
	margin-left:105px;
}

s {
	position: absolute;
	display: block;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	border-color: transparent #d6d6d6 transparent transparent;
	border-style: dashed dashed solid dashed;
	border-width: 10px;
	margin-left: -10px;
	margin-top: 0px;
	z-index:99999;
}

i {
	position: absolute;
	z-index:99999;
	display: block;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	border-color: transparent #fff transparent transparent;
	border-style: dashed dashed solid dashed;
	border-width: 10px;
	margin-left: -8px;
	margin-top: -10px;
}

.content_tip {
	border: 1px solid #d6d6d6;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	behavior: url(ie-css3.htc);
	position: absolute;
	font-size:12px;
	line-height:20px;
	z-index:999;
	background-color: #fff;
	padding:5px;
	margin-left:9px;
	margin-top:-20px;
	width: 150px;
	height: 80px;
	*top: -2px;
	*border-top: 1px solid #666;
	*border-top: 1px solid #666;
	*border-left: none;
	*border-right: none;
	*height: 102px;
	color:#444;
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135,
		Color='#999999' );
	/* For IE 8 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
}

.upload_help_img{
	background-image: url("../images/icon8_h.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	float:left;
	margin-left:20px;
	cursor: pointer;
}
.upload_help_img:hover{
	background-image: url("../images/icon8_h.png");
}

.fileinputs {
    position: relative;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    border:0px; 
    width:120px;
}

.fakefile {
    position: absolute;
    top: 0px;
    left: 0px;
    vertical-align: middle;
   	float: left;
   	width: 90%;
   	border: 0px;
}

.file{
    position: relative;
    text-align: right;
    width:120px;
    height: 40px;
    line-height: 40px;
    font-size: 32px;
    -moz-opacity:0;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 1; 
}

.fakefile .upload-scanning-Btn{
	width: 118px;
	height: 38px;
	line-height: 38px;
    font-size: 12px;
    color: #666;
   	background-color: #eee;
  	border: 1px solid #dcdcdc;
    text-align:center;
    vertical-align: middle;
    border-radius:2px;
	behavior: url(ie-css3.htc);
    cursor:pointer;
}
.fakefile .upload-scanning-Btn:hover{
	background-color: #dcdcdc;
  	border: 1px solid #dcdcdc;
}

.info-center-msg{
	height: 40px;
	line-height: 40px;
	text-align: left;
	vertical-align: middle;
	float: left;
	border: 0px;
}
.info-center-error-msg{
	height: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	color: red;
	float: left;
}
.info-center-img{
	height: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	padding: 3px 5px 0px 5px;
	width: 20px;
	float: left;
	border: 0px;
	cursor: text;
}
.info-center-opt{
	height: 40px;
	line-height: 60px;
	text-align: center;
	vertical-align: bottom;
	float: left;
	border: 0px;
	font-size: 12px;
	margin-left: 10px;
	cursor: pointer;
}
.addCarDialog{
	width:270px;
	height:200px; 
	filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
	-moz-opacity:0.5; /*Firefox私有，透明度50%*/
	opacity:0.5;/*其他，透明度50%*/
	background: #000;
	margin:0 auto;
	margin-top:-430px;
	border-radius: 2px;
	behavior: url(ie-css3.htc);
	display: none;
}
.addCarDialog div{
	position: absolute;
}
/* start */
.orderUsers_whiteContent {
	display: none;
	/* left: 38%; */
	width: 480px;
	height: auto;
	padding: 20px;
	border: 2px solid white;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	border-radius: 10px;
	behavior: url(ie-css3.htc);
	position: absolute;
}

.stat-info{
	float: left;height: 16px; line-height: 16px;font-size: 14px;width: 210px;margin-bottom: 20px;
}

/* .orderUsers_blackOverlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
 } */
 
.orderUsers_setConfigDialogTitle {
	float: left;
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ccc;
}

.orderUsers_setConfigDialogXbutton {
	float: right;
	cursor: pointer;
}

.orderUsers_setConfigDialogTable {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
	border-spacing: 10px;
	font-size: 12px;
}

.orderUsers_setConfigDialogTable td { /* text-align: left; */
	font-size: 12px;
	color: #666;
}

.orderUsers_setConfigDialogTable td .orderUsers_setConfigDialogInput{
	height: 22px;
	border: 1px solid #AAAAAA;
}

.orderUsers_setConfigDialogTable td select {
	width: 153px;
	height: 25px;
	border: 1px solid #AAAAAA;
}

.orderUsers_setConfigDialogTable tr { /* height:20px; */
	
}

.orderUsers_confirmButton {
	text-align: center;
	float: left;
	margin-right: 10px;
	width: 80px;
	height: 30px;
	background: #019fc2;
	color: #fbfaf8;
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
	border-radius: 5px;
	behavior: url(ie-css3.htc);
}

.orderUsers_closeButtonGroup {
	cursor: pointer;
	margin-bottom: 10px;
}
.orderUsers_closeButton{
	cursor: pointer;
}
.small-leftMargin{
	margin-left:5px;
	margin-right:5px;
}
/* END */
.orderUsers_blackOverlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	background-color: #000;
	z-index: 1001;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity = 50);
 }
  .able-button{
	border:1px solid #019fc2;
	border-radius:5px;
	behavior: url(ie-css3.htc);
	width:108px;
	height:40px;
	font-size: 14px;
    font-weight: bold;
	text-align:center;
	margin:0 auto;
	line-height:40px;
	float:center;
	background-color:#019fc2;
	color:#fff;
	cursor: pointer;
}
.dt_title{
	color:#444;
	font-size:16px;
}

.help-info{
	z-index: 1;
	background:#fff;
	position:absolute;
	display:none;
	width: 170px;
	border:1px solid #ccc;
	border-radius: 2px;
	behavior: url(ie-css3.htc);
	margin-top: 5px;
	padding: 10px 15px;
	font-size: 12px;
	color: #666;
	line-height: 18px;
}